header.top-header {
  display: flex;
  background-image: url("../images/foggy-birds.png"), linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  // background-color: #ffc4f9;
  height: 400px;
  width: 100%;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
}

header.top-header div img {
  margin-top: 1em;
}